.component {
  padding-top: 16rem;
  font: var(--fw-regular) var(--text) var(--ff-text);
}

.text {
  margin: auto;
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-xxl);
  width: 50%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-xl);
}

.list {
  width: 50%;
  display: grid;
  gap: var(--spacing-lg);
}

.list_item {
  position: relative;
  padding-left: var(--spacing-xxl);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    background-image: url('/svg/list-item-star.svg');
    background-repeat: no-repeat;
  }
}
