.quote_card {
  position: relative;
  padding: var(--spacing-xl);
  display: grid;
  place-content: center;
  font: var(--fw-regular) 1.8rem var(--ff-text);
  background-color: var(--bg-quote);
  border: 2px solid var(--white);
  border-radius: var(--radius-sm);
  overflow: hidden;

  q {
    display: block;
    quotes: '' '';
  }
}

.beetle {
  position: absolute;
  transform: rotate(31deg);
  top: 3rem;
  left: 2rem;
}

.spinnwebe_1 {
  position: absolute;
  right: -4rem;
  top: -3rem;
}

.spinnwebe_2 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}
.cauldron {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
