@use 'styles/mixins.scss' as m;

.xs {
  font: var(--fw-regular) var(--subtitle-h4) var(--ff-heading);

  @include m.sm() {
    font-size: 2.4rem;
  }
}

.sm {
  font: var(--fw-regular) var(--title-h3) var(--ff-heading);
}

.md,
.lg {
  font: var(--fw-regular) var(--title-h2) var(--ff-heading);

  @include m.xl() {
    font-size: 8rem;
  }
  @include m.md() {
    font-size: 6.4rem;
  }
  @include m.sm() {
    font-size: 4.8rem;
  }
}

.center {
  text-align: center;
}

.dark {
  color: var(--black);
}
.light {
  color: var(--white);
}
.accent {
  color: var(--accent);
}
