@use 'styles/mixins.scss' as mixin;
@use 'styles/media.scss' as media;

.wrapper {
  padding-top: var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent);
}

.logo {
  font: var(--fw-regular) 2.4rem var(--ff-heading);
}

.list {
  display: flex;
  gap: var(--spacing-lg);
  font: var(--fw-regular) 2rem var(--ff-text);
}

.link {
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 0.8rem;
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;

  &:hover {
    border: var(--border);
  }
}
