@use 'styles/mixins.scss' as mixin;

.footer {
  position: relative;
  margin-top: 16rem;
  padding-block: var(--spacing-xxl);
  background:
    url('/svg/spinnwebe-8.svg') no-repeat right 0px top 50%,
    url('/svg/spinnwebe-5.svg') no-repeat left 0px bottom 0px,
    var(--bg-quote);

  border-top-left-radius: var(--radius-sm);
  border-top-right-radius: var(--radius-sm);
  font: var(--fw-regular) var(--text) var(--ff-text);
}

.sections_wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-xl);
}

.section {
  width: calc(33.33% - var(--spacing-xl));
}

.title {
  padding-bottom: var(--spacing-xl);
}

.about_text {
  padding-bottom: var(--spacing-xl);
}

.text {
  padding-top: calc(var(--spacing-xl) * 2);
  width: fit-content;
  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
