@mixin container {
  margin: 0 auto;
  max-width: 1440px;
  width: calc(100% - 40px);
}

//Скрытие элементов с учетом доступности и поисковых роботов
@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// animation
@mixin fadeIn(
  $duration: 1s,
  $delay: 0s,
  $easing: linear,
  $fill: both,
  $loop: infinite
) {
  animation-name: fadeIn;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $easing;
  animation-fill-mode: $fill;
  animation-iteration-count: $loop;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
