@mixin container {
  margin: 0 auto;
  max-width: 1440px;
  width: calc(100% - 40px);
}

//Скрытие элементов с учетом доступности и поисковых роботов
@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
